.form-answer{
    width: 100%;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px 20px;
    margin-top: 30px;
}

.form-answer form {
    margin-top: 0px;
}

.form-answer form .input-block + .input-block {
    margin-top: 20px;
}


.form-answer form .input-block label {
    color: #a6a6a6;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.form-answer form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border:0;
    border-bottom: 1px solid #cccccc;
}

.form-answer form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 20px;
    background: #71DF95;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.form-answer form button[type=submit]:hover{
    background:#2abb5b;
}