# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/paste123/node_modules
/paste123/.pnp
/paste123/.pnp.js

# testing
paste123/coverage

# production
paste123/build

# misc
paste123/.DS_Store
paste123/.env.local
paste123/.env.development.local
paste123/.env.test.local
paste123/.env.production.local

paste123/npm-debug.log*
paste123/yarn-debug.log*
paste123/yarn-error.log*
