version: '3'
services:
    mongo:
        image: mongo
        restart: always
        ports:
          - "27017:27017"
    
    mongo-express:
      image: mongo-express
      restart: always
      ports:
        - 8081:8081
      environment:
        ME_CONFIG_MONGODB_ADMINUSERNAME: root
        ME_CONFIG_MONGODB_ADMINPASSWORD: example
             
    server:
        build: ./server/
        ports:
          - "3050:3050" 
        restart: always    
        
    client:
        build: ./client/
        command: yarn start
        tty: true
        volumes:
            - ./client/:/usr/app
            - /usr/app/node_modules
        depends_on: 
            - server
        ports: 
            - "3000:3000"
    