version: '3'
services:
    mongo:
        image: mongo
        restart: always
        environment:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example
    
    mongo-express:
      image: mongo-express
      restart: always
      ports:
        - 8081:8081
      environment:
        ME_CONFIG_MONGODB_ADMINUSERNAME: root
        ME_CONFIG_MONGODB_ADMINPASSWORD: example
             
    # server:
    #     build: ./server/
    #     ports:
    #       - "3050:3050" 
    #     restart: unless-stopped    
        
    # client:
    #     build: ./client/
    #     command: npm start
    #     volumes:
    #         - ./client/:/usr/app
    #         - /usr/app/node_modules
    #     depends_on: 
    #         - server
    #     ports: 
    #         - "3000:3000"
    