.question{
    width: 500px;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px;
}

.question strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #3c3c3c;
}

.question form {
    margin-top: 30px;
}

.question form .input-block + .input-block {
    margin-top: 20px;
}


.question form .input-block label {
    color: #a6a6a6;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.question form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border:0;
    border-bottom: 1px solid #cccccc;
}

.question form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #71DF95;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.question form button[type=submit]:hover{
    background:#219147;
}