
ul.answer {
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
    margin-top: 10px;
}

ul.answer strong {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 7px;
}

ul.answer div{
    display: flex;
    justify-content: flex-end;
}

ul.answer div span {
    font-size: 13px;
    color: #999;
}

.show {
    margin-right: 20px;
    font-size: 13px;
    color: #999;
}

.action{
    font-size: 13px !important;
    color: #999 !important;
    margin-left: 5px;
}

.action:hover{
    cursor: pointer;
}