.form-search{
    width: 600px;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 15px 15px 25px;
    margin-bottom: 30px;
}

.form-search form  input {
    width: 430px;
    margin-right: 10px;
    height: 32px;
    font-size: 14px;
    color: #666;
    border:0;
    border-bottom: 1px solid #cccccc;
}

.form-search form button[type=submit] {
    width: 120px;
    border: 0;
    margin-top: 20px;
    background: #71DF95;
    border-radius: 2px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.form-search form button[type=submit]:hover{
    background:#2abb5b;
}

@media (max-width: 1000px){
    .form-search{
        width: 100%;
        background: #FFF;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
        border-radius: 2px;
        padding: 15px 15px 25px;
        margin-bottom: 30px;
    }
} 